[submodule ".config/vim/pack/bundle/start/vim-commentary"]
	path = .config/vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-fugitive"]
	path = .config/vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-operator-flashy"]
	path = .config/vim/pack/bundle/start/vim-operator-flashy
	url = https://github.com/haya14busa/vim-operator-flashy
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-asterisk"]
	path = .config/vim/pack/bundle/start/vim-asterisk
	url = https://github.com/haya14busa/vim-asterisk
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-operator-user"]
	path = .config/vim/pack/bundle/start/vim-operator-user
	url = https://github.com/kana/vim-operator-user
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-cycle"]
	path = .config/vim/pack/bundle/start/vim-cycle
	url = https://github.com/bootleq/vim-cycle
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-minisnip"]
	path = .config/vim/pack/bundle/start/vim-minisnip
	url = https://github.com/KeyboardFire/vim-minisnip
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-java-unused-imports"]
	path = .config/vim/pack/bundle/start/vim-java-unused-imports
	url = https://github.com/akhaku/vim-java-unused-imports
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vimport-sort"]
	path = .config/vim/pack/bundle/start/vimport-sort
	url = https://github.com/Jacoby6000/vimport-sort
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/supertab"]
	path = .config/vim/pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/asyncdo.vim"]
	path = .config/vim/pack/bundle/start/asyncdo.vim
	url = https://github.com/hauleth/asyncdo.vim
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/kotlin-vim"]
	path = .config/vim/pack/bundle/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-arduino-syntax"]
	path = .config/vim/pack/bundle/start/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/editorconfig-vim"]
	path = .config/vim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/vim-android-sensible"]
	path = .config/vim/pack/bundle/start/vim-android-sensible
	url = https://github.com/kazufukurou/vim-android-sensible
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/eskk.vim"]
	path = .config/vim/pack/bundle/start/eskk.vim
	url = https://github.com/tyru/eskk.vim.git
	ignore = untracked
[submodule ".config/vim/pack/bundle/start/fzf.vim"]
	path = .config/vim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/vim/pack/bundle/start/vim-sandwich"]
	path = .config/vim/pack/bundle/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule ".config/vim/pack/bundle/start/vim-smartinput"]
	path = .config/vim/pack/bundle/start/vim-smartinput
	url = https://github.com/kana/vim-smartinput
