[user]
    name = Artyom Mironov
    email = kazufukurou@gmail.com
[core]
    autocrlf = input
    safecrlf = false
    editor = $EDITOR
[push]
    default = simple
[color]
    ui = true
    status = auto
    branch = auto
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    glog = log --pretty=format:\"%C(blue)%h%C(reset) %C(black)%ad%C(reset) %s %C(black)%an%C(reset)%C(yellow)%d%C(reset)\" --graph --date=iso
[credential]
    helper = cache --timeout=3600
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[merge]
    tool = fugitive
[mergetool]
    keepBackup = false
[mergetool "fugitive"]
    cmd = vim -f -c Gdiff $MERGED
    trustExitCode = true
    prompt = false
