[submodule ".config/nvim/pack/site/start/vim-commentary"]
	path = .config/nvim/pack/site/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".config/nvim/pack/site/start/vim-fugitive"]
	path = .config/nvim/pack/site/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/pack/site/start/vim-operator-flashy"]
	path = .config/nvim/pack/site/start/vim-operator-flashy
	url = https://github.com/haya14busa/vim-operator-flashy
[submodule ".config/nvim/pack/site/start/vim-asterisk"]
	path = .config/nvim/pack/site/start/vim-asterisk
	url = https://github.com/haya14busa/vim-asterisk
[submodule ".config/nvim/pack/site/start/vim-operator-user"]
	path = .config/nvim/pack/site/start/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule ".config/nvim/pack/site/start/vim-cycle"]
	path = .config/nvim/pack/site/start/vim-cycle
	url = https://github.com/bootleq/vim-cycle
[submodule ".config/nvim/pack/site/start/vim-java-unused-imports"]
	path = .config/nvim/pack/site/start/vim-java-unused-imports
	url = https://github.com/akhaku/vim-java-unused-imports
[submodule ".config/nvim/pack/site/start/vimport-sort"]
	path = .config/nvim/pack/site/start/vimport-sort
	url = https://github.com/Jacoby6000/vimport-sort
[submodule ".config/nvim/pack/site/start/asyncdo.vim"]
	path = .config/nvim/pack/site/start/asyncdo.vim
	url = https://github.com/hauleth/asyncdo.vim
[submodule ".config/nvim/pack/site/start/kotlin-vim"]
	path = .config/nvim/pack/site/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".config/nvim/pack/site/start/vim-arduino-syntax"]
	path = .config/nvim/pack/site/start/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax
[submodule ".config/nvim/pack/site/start/editorconfig-vim"]
	path = .config/nvim/pack/site/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".config/nvim/pack/site/start/vim-android-sensible"]
	path = .config/nvim/pack/site/start/vim-android-sensible
	url = https://github.com/kazufukurou/vim-android-sensible
[submodule ".config/nvim/pack/site/start/fzf.vim"]
	path = .config/nvim/pack/site/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/nvim/pack/site/start/vim-sandwich"]
	path = .config/nvim/pack/site/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule ".config/nvim/pack/site/start/vim-smartinput"]
	path = .config/nvim/pack/site/start/vim-smartinput
	url = https://github.com/kana/vim-smartinput
