URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt*font: xft:M+ 1m:size=12
URxvt*saveLines: 100000
URxvt.scrollBar: false

URxvt*background: #333333
URxvt*foreground: #cccccc
URxvt*cursorColor: #99cc66
URxvt*colorBD: #ffffff
URxvt*colorUL: #ffff99

!BLK
URxvt*color0: #666666
URxvt*color8: #999999
!RED
URxvt*color1: #ff5599
URxvt*color9: #ffaacc
!GRN
URxvt*color2: #55ff55
URxvt*color10: #aaffaa
!YEL
URxvt*color3: #ffdd55
URxvt*color11: #ffeeaa
!BLU
URxvt*color4: #5599ff
URxvt*color12: #aaccff
!MAG
URxvt*color5: #dd55ff
URxvt*color13: #eeaaff
!CYN
URxvt*color6: #55ffdd
URxvt*color14: #aaffee
!WHT
URxvt*color7: #cccccc
URxvt*color15: #ffffff
