snippet xml "XML declaration" b
<?xml version="1.0" encoding="utf-8"?>
endsnippet

snippet l "Android layout" b
<${1:RelativeLayout}
    android:id="@+id/$2"
    android:layout_width="${3:match_parent}"
    android:layout_height="${4:wrap_content}">
    $0
</${1/([\w:._-]+).*/$1/}>
endsnippet

snippet v "Android view" b
<${1:TextView}
    android:id="@+id/$2"
    android:layout_width="${3:match_parent}"
    android:layout_height="${4:wrap_content}"
    android:text="@string/$5"/>
endsnippet
