._hintLabel {
    -webkit-transform:translate(-0px,-0px) !important;
    position: absolute !important;
    font:bold 1em monospace !important;
    color: #000 !important;
    background-color: #fc9 !important;
    margin: 0 !important;
    padding: 1px 3px !important;
    border: 0px solid #000 !important;
    opacity: 1 !important
}
._hintLabel._hintFocus {
    opacity: 1 !important;
}
._hintElem {
    background-color: inherit !important;
    color: inherit !important
}
._hintElem._hintFocus {
    background-color: inherit !important;
    color: inherit !important
}
